{% extends 'MeeduleDesignBundle::layout.html.twig' %}

{% block content %}

    <ul class="breadcrumb">
        <li>Crea la riunione <span class="divider">&gt;</span></li>
        <li>Inserisci gli argomenti <span class="divider">&gt;</span></li>
        <li class="active">Condividi</li>
    </ul>

    <div class="row-fluid">
        <div class="span4">
            <div class="well">
                {% include 'MeeduleMeetingBundle:Meeting:_detail.html.twig' %}
            </div>
        </div>
        <div class="span8">
            <div class="well">
                <h4>Argomenti:</h4>
                {% include 'MeeduleMeetingBundle:Meeting:_topics.html.twig' with {'topics_id': 'topics_agenda'} %}
            </div> 
        </div>
    </div>

    <hr /> 
    <h1>Condividi coi tuoi colleghi o amici</h1>
    
    <p>
        I seguenti due links verranno inviati tramite una e-mail a <b>{{ entity.mail }}</b>.<br />
        Se non dovessero arrivare dei links ...
    </p>
    <h5>Link per la partecipazione</h5>
    <p>
        <i class="icon-share"></i> <a href="{{ path('meeting_show',{'slug': entity.slugpublic}) }}" target="_blank">{{ url('meeting_show', {'slug': entity.slugpublic}) }}</a><br />
        <div class="fb-send" data-href="{{ url('meeting_show', {'slug': entity.slugpublic}) }}" data-font="arial"></div>
    </p>
    
    <h5>Link per la amministrazione</h5>
    <p>
        <i class="icon-wrench"></i> <a href="{{ path('meeting_admin',{'slug': entity.slugprivate}) }}" target="_blank">{{ url('meeting_admin', {'slug': entity.slugprivate}) }}</a><br />
    </p>
    
    <a 
        href="{{ path('meeting_show',{'slug': entity.slugpublic}) }}" 
        class="btn btn-primary"
        >
        Fine</a>
    
{% endblock %}