{% extends 'MeeduleMeetingBundle:Meeting:show.html.twig' %}

{% block commands %}
    <a href="{{ path('meeting_admin_edit', {'slug': entity.slugprivate}) }}" class="btn btn-small">Modifica <i class="icon-wrench"></i></a><br />
    <a href="{{ path('meeting_admin_finalize', {'slug': entity.slugprivate}) }}" class="btn btn-small">Chiudi <i class="icon-ok"></i></a><br />
{% endblock %}
    
{% block agenda_topics %}
    {% include 'MeeduleMeetingBundle:Meeting:_topics.html.twig' with {'topics': topics_agenda, 'url_topic_delete': url_delete_topic_agenda, 'topics_id': 'topics_agenda'} %}
{% endblock %}
    
{% block crew_topics %}
    {% include 'MeeduleMeetingBundle:Meeting:_topics.html.twig' with {'topics': topics_crew, 'url_topic_delete': url_delete_topic_crew, 'topics_id': 'topics_crew'} %}
{% endblock %}
    
{% block form_create_topic_agenda %}
    <form action="{{ path(url_create_topic_agenda, {'slug': slug }) }}" method="post" {{ form_enctype(form_create_topic_agenda) }} class="form-horizontal">
        {{ form_widget(form_create_topic_agenda.name) }}
        {{ form_rest(form_create_topic_agenda) }}
        <button type="submit" class="btn btn-primary btn-small">Aggiungi</button>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("#topics_agenda").addClass('sortable');
        $("#topics_agenda").sortable({
            cursor: 'move',
            stop: function( event, ui ) {
                $.ajax({
                    type: 'POST',
                    url: '{{ path('meeting_topic_order', {'slug': slug}) }}',
                    data: $(this).sortable("serialize")
                });
            }
        });
    </script>
{% endblock %}