{% extends 'MeeduleDesignBundle::layout.html.twig' %}

{% block content %}
    

    <h1>Chiudi "{{ entity.title }}"</h1>
    <hr />
    <p>
        Il tuo meeting sta per essere chiuso. Non sarà dunque possibile aggiungere ulteriori registrazioni o argomenti.
    </p>
    
    <form action="{{ path('meeting_admin_close', {'slug': entity.slugprivate}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        <h3>Agenda</h3>
        {% for topic in form.AgendaTopics %}
            {{ form_row(topic) }}
        {% endfor %}
        
        <h4>Argomenti Proposti</h4>
        {% for topic in form.CrewTopics %}
            {{ form_row(topic) }}
        {% endfor %}
        
        {{ form_rest(form) }}
        
        <div class="form-actions">
            <button type="submit" class="btn btn-success btn-large">Salva</button>
            o <a href="{{ path('meeting_admin', {'slug': entity.slugprivate}) }}">
                indietro
            </a>
         </div>
    </form>

{% endblock %}