{% extends 'MeeduleDesignBundle::base.html.twig' %}

{% block title %}Fabio Fabbrucci Curriculum - Webdeveloper Project Manager Scrum Agile XP Coach{% endblock %}

{% block favicon %}
    <link rel="shortcut icon" href="http://25.media.tumblr.com/avatar_3c2d8cc28c4b_16.png" />
{% endblock %}

{% block meta %}
    <meta property="og:title" content="Fabio Fabbrucci Curriculum - Developer, Project Manager" />
    <meta property="og:description" content="Fabbrucci CV. Keywords: Scrum, Agile, XP, Coach" />
    <meta property="og:url" content="{{ url('cv') }}" />
    <meta property="og:image" content="http://meedule.abmundi.com{{ asset('bundles/meeduledesign/img/fabio.fabbrucci.jpg') }}" />
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        'bundles/meeduledesign/bootstrap/bootstrap.less'
        'bundles/meeduledesign/bootstrap/responsive.less'
        'bundles/meeduledesign/css/zocial.less'
        'bundles/meeduledesign/css/cv.less'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets
            'bundles/meeduledesign/css/print.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" media="print" />
    {% endstylesheets %}
{% endblock %}

{% block big_body %}
<body data-spy="scroll" data-target="#navbar">
    <div class="navbar navbar-fixed-top" id="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('cv') }}">
                    Fabio Fabbrucci
                </a>
                <ul class="nav">
                    <li><a href="#who">Chi</a></li>
                    <li><a href="#what">Cosa</a></li>
                    <li><a href="#when-and-where">Quando e dove</a></li>
                    <li><a href="#why">Perchè</a></li>
                </ul>
                <div class="nav-collapse collapse">
                    <div class="pull-right">
                        <div class="navbar-text">
                            <em>Human being, clown, organizer</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <section id="who">
            <div class="hero-unit">
                <div class="pull-right">
                    <img src="{{ asset('bundles/meeduledesign/img/fabio.fabbrucci.jpg') }}" class="img-circle" />
                </div>
                <h1>Ciao, sono Fabio</h1>
                <h3>e questo è il mio <a href="{{ asset('bundles/meeduledesign/pdf/fabio.fabbrucci.pdf') }}" class="zocial acrobat" target="_blank">curriculum</a></h3>
                
                <p>&nbsp;</p>
                <p>
                    Scrivo su 
                    <a href="http://fabbrucci.tumblr.com/" class="zocial tumblr">Tumblr</a>
                    , ma mi scrivono su 
                    <a class="zocial gmail" href="mailto:fabio.fabbrucci@gmail.com">Gmail</a>
                </p>
                <p>
                    "Hosto" codice su 
                    <a href="https://github.com/fabiofabbrucci" class="zocial github">Github</a> 
                    e mi cercano con 
                    <a href="http://www.linkedin.com/profile/view?id=113340644" class="zocial linkedin">Linkedin</a>
                </p>
                <p>
                    Scrivo messaggi sia con 
                    <a href="http://twitter.com/Fabbrucci" class="zocial twitter">Twitter</a> 
                    che con 
                    <a href="http://facebook.com/fabiofabbrucci" class="zocial facebook">Facebook</a>
                </p>
            </div>
        </section>
        <section id="what">
            <center><h1>Cosa so (e mi piace) fare</h1></center>
            <div class="row">
                <div class="span6">
                    <h2>Sviluppare prodotti</h2>
                    <p>
                        Fare lo sviluppatore è una questione di tecnica e non di linguaggio.<br />
                        I linguaggi si apprendono, la tecnica si matura.<br />
                        Questi sono i linguaggi ed i framework con cui sono più familiare:
                    </p>
                    <ul>
                        <li>
                            PHP 
                            <ul>
                                <li>Symfony2</li>
                                <li>Wordpress</li>
                            </ul>
                        </li>
                        <li>
                            Web Frontend
                            <ul>
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>
                                    JS
                                </li>
                            </ul>
                        </li>
                        <li>NodeJS</li>
                        <li>Ruby</li>
                    </ul>
                    Tra le metodologie di sviluppo la mia preferita è XP che comprende:
                    <ul>
                        <li>Pair Programming (anche distribuito)</li>
                        <li>TDD (mi piace anche la BDD)</li>
                        <li>Continuous Integration</li>
                        <li>Scopri qui <a href="http://it.wikipedia.org/wiki/Extreme_Programming">le 12 regole</a> della XP
                    </ul>
                </div>
                <div class="span6">
                    <h2>Organizzare</h2>
                    Ogni persona ha le sue peculiarità, umane e professionali.<br />
                    Creare un ambiente "responsive" e stimolante è una avventura che crea benefici straripanti.<br />
                    Le persone, prima del software, sono il vero <b>valore</b> di una qualsiasi azienda.
                    <br /><br />
                    <ul>
                        <li>Project Manager di team multidisciplinari</li>
                        <li>Scrum Master</li>
                        <li>Product Manager per startup</li>
                        <li>Introduzione di metodologie agile</li>
                        <li>Consulenza aziendale (nel settore IT)</li>
                        <li>KPI e monitoring di processi</li>
                    </ul>
                    <br />
                    <p>
                        Leggi anche il <a href="http://agilemanifesto.org/iso/it/">Manifesto agile</a> se ancora non lo hai fatto.
                    </p>
                        
                </div>
            </div>
        </section>
        <section id="when-and-where">
            <h1>Quando e dove ho lavorato e studiato</h1>
            <table class="table table-bordered">
                <legend>Lavoro</legend>
                <thead>
                    <tr>
                        <th width="10%">Da</th>
                        <th width="10%">A</th>
                        <th width="16%">Azienda</th>
                        <th width="20%">Ruolo</th>
                        <th width="44%">Mansione</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Apr 2013</td>
                        <td>Oggi</td>
                        <td><a href="http://www.gnvpartners.com/">GNV & Partners</a></td>
                        <td>Frontend Developer</td>
                        <td>HTML5, CSS, JS, Responsive, SMACSS, SASS, Compass, Git, Jquery Plugin</td>
                    </tr>
                    <tr>
                        <td>Gen 2013</td>
                        <td>Oggi</td>
                        <td><a href="http://www.avanscoperta.it/">Avanscoperta</a></td>
                        <td>Organizer</td>
                        <td>Business Development, Marketing, Logistics</td>
                    </tr>
                    <tr>
                        <td>Gen 2013</td>
                        <td>Oggi</td>
                        <td><a href="http://www.iabadabadu.it/">Iabadabadu</a></td>
                        <td>Web Consultant</td>
                        <td>Kanban, Metrics, KPI, People, Agile</td>
                    </tr>
                    <tr>
                        <td>Gen 2012</td>
                        <td>Gen 2013</td>
                        <td><a href="http://www.abmundi.com">Abmundi</a> <span class="label">Startup</span></td>
                        <td>CEO</td>
                        <td>Business Development, Product Owner, Scrum Master</td>
                    </tr>
                    <tr>
                        <td>Ott 2011</td>
                        <td>Giu 2012</td>
                        <td><a href="http://www.paypersocial.com">Paypersocial</a> <span class="label">Startup</span></td>
                        <td>Developer</td>
                        <td>Frontend Developer, Scrum Master</td>
                    </tr>
                    <tr>
                        <td>Mag 2009</td>
                        <td>Ott 2011</td>
                        <td><a href="http://www.grupporetina.com">Retina</a> <span class="label">WebAgency</span></td>
                        <td>Titolare, CTO</td>
                        <td>Direttore produzione, CTO</td>
                    </tr>
                    <tr>
                        <td>Ago 2007</td>
                        <td>Mag 2009</td>
                        <td><a href="http://www.grupporetina.com">Retina</a> - <span class="label">WebAgency</span></td>
                        <td>Developer</td>
                        <td>Backend e Frontend Developer</td>
                    </tr>
                </tbody>
            </table>
            
            <table class="table table-bordered">
                <legend>
                    Relatore
                    <a href="http://www.slideshare.net/fabio.fabbrucci" class="zocial secondary">Guarda le mie slide</a>
                </legend>
                <thead>
                    <tr>
                        <th width="10%">Data</th>
                        <th width="30%">Conferenza</th>
                        <th width="60%">Talk</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>23 Mar 2013</td>
                        <td>Codemotion - Roma</td>   
                        <td>
                            <a href="http://rome.codemotionworld.com/talk-page/?talk_name=come-non-trovare-il-lavoro-che-non-ci-piace">Come non trovare il lavoro che non ci piace</a> <i class="icon-tags"></i> Burnout, Startup, Business Model Canvas, Colloquio
                        </td>
                    </tr>
                    <tr>
                        <td>18 Apr 2012</td>
                        <td>CulturaImpresa Barcamp - Ravenna</td>   
                        <td>
                            <a href="http://ravenna.cnabarcamp.it/programma/iscriviti-come-relatore/">To fail or not to fail</a> <i class="icon-tags"></i> Imprenditorialità, Clown
                        </td>
                    </tr>
                    <tr>
                        <td>27 Giu 2011</td>
                        <td>BetterSoftware - Firenze</td>
                        <td>
                            <a href="http://www.bettersoftware.it/conference/talks/selenium-for-webdesigners">Selenium for Webdesigner</a>  <i class="icon-tags"></i> Design, Development
                        </td>
                    </tr>
                    <tr>
                        <td>20 Mag 2011</td>
                        <td>Whymca - Milano</td>
                        <td>
                            <a href="http://www.whymca.org/en/node/382">Mobile Synchronization</a> <i class="icon-tags"></i> Mobile, Development
                        </td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>XPUG Romagna</td>
                        <td>
                            <a href="https://groups.google.com/forum/?hl=it&fromgroups#!forum/xpug-romagna">Link</a>
                        </td>
                    </tr>
                    <tr>
                        <td>5 Nov 2010</td>
                        <td>UXCamp - Firenze</td>
                        <td>
                            <a href="http://www.slideshare.net/fabio.fabbrucci/sass-stress-5670179">More SASS = Less STRESS</a> <i class="icon-tags"></i> Design
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <legend>
                    Meetings
                </legend>
                <thead>
                    <tr>
                        <th width="10%">Data</th>
                        <th width="30%">Titolo</th>
                        <th width="60%">Argomenti</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1 Feb 2013
                        </td>   
                        <td>
                            <a href="http://milan.startupweekend.org/">Milan Startup Weekend</a>
                        </td>
                        <td>
                            Ho partecipato alla realizzazione del prototipo di UGrade, pensato da Elena Lavezzi. <a href="http://www.youtube.com/watch?v=iHIzdGb-vIc"><i class="icon-play"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <table class="table table-bordered">
                <legend>
                    Formazione e conferenze
                    <a href="http://www.linkedin.com/profile/view?id=113340644" class="zocial linkedin">Scopri la mia formazione</a>
                </legend>
                <tbody>
                    <tr>
                        <td>
                            <a href="http://www.phpday.it/">PhpDay</a>: 
                            2012, 2011, 2010, 2009
                        </td>   
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.agileday.it/">AgileDay</a>: 
                            2011, 2010
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.iasummit.it/">IASummit</a>:
                            2010
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.bettersoftware.it/">BetterSoftware</a>:
                            2011, 2010
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Laurea Ingegneria Informatica (triennale) presso UNIBO sede di Cesena:
                            Dal 2002 al 2007
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Perito tecnico Informatico presso ITIS Blaise Pascal Cesena:
                            Dal 1998 al 2002
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </section>
        <section id="why">
            <h1>Perchè faccio quello che faccio?</h1>
            <div class="pull-right">
                <img src="http://graph.facebook.com/fabiofabbrucci/picture?type=large" class="img-circle" />
            </div>
            <blockquote>
                <p>
                    ... all'humus sono attribuite importanti funzioni che, in caso di buone dotazioni, conferiscono al terreno caratteristiche fisiche, chimiche e meccaniche nettamente differenti rispetto ai terreni con scarse dotazioni.<br />
                    La maggior parte di queste caratteristiche sono da interpretarsi come positive, tuttavia eccessive dotazioni in humus comportano alcuni effetti collaterali indesiderati.
                </p>
                <small>From Wikipedia - <a href="http://it.wikipedia.org/wiki/Humus">Humus</a></small>
            </blockquote>
            <p>
                Diversi pregi e difetti mi hanno portato dove sono ora, sia sul lato professionale che personale.<br />
                Sono ambizioso, ma a tratti pigro. Mi piace competere; cerco di tirare fuori la parte buona dalle persone.<br />
                In caso di conflitto faccio un passo indietro per osservare meglio il problema ed ascolto sempre il punto di vista degli altri.
            </p>
            <p>
                Le mie <b>passioni</b> sono tante, ma quelle che porto avanti da più tempo e con costanza sono i film (e di recente le serie televisive) e il servizio di <a href="http://www.drclown.it/">clowning</a> che faccio nell'ospedale di Rimini da 10 anni.
            </p>
            <p>
                Se però dovessi elencare delle cose che mi piacciono indicherei:
                <ul>
                    <li>
                        <b>Professionali</b>:
                        <ul>
                            <li>Fare codice e vedere i risultati a monitor</li>
                            <li>Vedere una fila di test in verde</li>
                            <li>Vedere un prodotto software soddisfare un bisogno ed essere apprezzato</li>
                            <li>Vedere un team coeso professionalmente e motivato all'eccellenza</li>
                        </ul>
                    </li>
                    <li>
                        <b>Personali</b>:
                        <ul>
                            <li>la piadina romagnola (quella sottile)</li>
                            <li>fare la pizza</li>
                            <li>leggere (fumetti e libri tecnici)</li>
                            <li>i pirati</li>
                            <li>i giochi di società</li>
                            <li>le lego (anche te, vero?)</a></li>
                        </ul>
                    </li>
                </ul>
            </p>
            <p>
                Le cose che non mi piacciono sono:
                <ul>
                    <li>
                        <b>Professionali</b>:
                        <ul>
                            <li>Lavorare con chi vuole scaldare la sedia</li>
                            <li>Non essere coinvolto nel processo decisionale che mi compete</li>
                            <li>Lavorare in VB6</li>
                        </ul>
                    </li>
                    <li>
                        <b>Personali</b>:
                        <ul>
                            <li>essere derubato</li>
                            <li>il fumo</li>
                        </ul>
                    </li>
                </ul>
            </p>
        </section>
        <section>
            <div class="hero-unit">
                <div class="pull-right">
                    <img src={{ asset('bundles/meeduledesign/img/professionist.jpg') }} class="img-circle" />
                </div>
                <h2>Qui finisce il mio curriculum ...</h2>
                <h1>ma non io!</h1>
                <p>&nbsp;</p>
                <p>
                    Se cerchi un <b>serio professionista</b> per la tua azienda, scegli l'uomo giusto.<br />
                    Se puoi quell'uomo giusto sono io, bene!<br />
                    Contattami su <a class="zocial gmail" href="mailto:fabio.fabbrucci@gmail.com">Gmail</a> o in qualche altro modo che trovi <a href="#who" class="zocial secondary">qui</a>.
                </p>
            </div>
        </section>
        <hr />
        <p>
            <center>
                "<i class="icon-heart"></i> <i>Grazie per avermi letto</i>" By un CV.
            </center>
        </p>
    </div>
        
    {% block javascripts %}
        {% javascripts
            'bundles/meeduledesign/bootstrap/js/bootstrap-alert.js'
            'bundles/meeduledesign/bootstrap/js/bootstrap-button.js'
            'bundles/meeduledesign/bootstrap/js/bootstrap-dropdown.js'
            'bundles/meeduledesign/bootstrap/js/bootstrap-tooltip.js'
            'bundles/meeduledesign/bootstrap/js/bootstrap-popover.js'
            'bundles/meeduledesign/bootstrap/js/bootstrap-scrollspy.js'
            'bundles/meeduledesign/js/jquery-ui-1.8.17.custom.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            $(document).ready(function(){
                $("*[rel=popover]").popover();
                $("*[rel=tooltip]").tooltip();
                
                $('#navbar').scrollspy();
                $('#navbar a').click(function(e){
                    e.preventDefault();
                    target = $(this).attr('href');
                    $('html,body').animate({
                        scrollTop: $(target).offset().top
                    }, 1000);
                });
            });
        </script>
        {% if app.environment == "prod" %}
            <script type="text/javascript">

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-28629605-2']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

            </script>
        {% endif %}
    {% endblock %}
</body>
{% endblock %}
