<div class="well well-small">
    <h5><span class="badge">{{ attendees|length }}</span> Partecipanti</h5>
    {% if attendees %}
        <ol>
        {% for attendee in attendees %}
            <li>
                <form 
                    action="{{ path(url_delete_attendee, {'slug': slug, 'id': attendee.id }) }}" 
                    method="post"
                    class="delete_form pull-right"
                    >
                    {{ form_widget(attendee.deleteForm) }}
                    <button type="submit"><i class="icon-trash"></i></button> 
                </form>
                {{ attendee.name }}
                <div class="clearfix"></div>
            </li>
        {% endfor %}
        </ol>
    {% endif %}

    <hr />

    <form action="{{ path(url_create_attendee, {'slug': slug }) }}" method="post" {{ form_enctype(form) }} class="form-vertical">
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary btn-small">Partecipa</button>
    </form>
</div>