Creato da <img 
    rel="tooltip"
    title="Immagine fornita da Gravatar.com"
    src="http://www.gravatar.com/avatar/{{entity.mailGravatar}}?s=24" /> {{ entity.name }}
{% if entity.date %}
    <br />
    <i class="icon-calendar"></i> {{ entity.date|date(date_simple_format)}}
    {% if entity.time %}
        - {{ entity.time|date(time)}}
    {% endif %}
{% endif %}
{% if entity.address %}
    <a 
        class="btn btn-small"
        target="_blank"
        href="https://maps.google.it/?t=m&amp;q={{ entity.address}}">
        <i class="icon-globe"></i> 
    </a>
    {{ entity.address}} 
{% endif %}
{% if entity.description %}
    <p>{{ entity.description }}</p>
{% endif %}
{% if entity.doodle %}
    <br />
    <img src={{ asset('bundles/meeduledesign/img/doodle.ico') }} />
    <a 
        target="_blank"
        href="{{ entity.doodle }}">
        Doodle
    </a>
{% endif %}