{% if topics %}
    <ol id="{{ topics_id }}">
    {% for topic in topics %}
        <li id="topic_{{ topic.id }}"{% if entity.isClosed and not topic.isApproved %} class="rejected"{% endif %}>
            {% if topic.deleteForm %}
                <form 
                    action="{{ path(url_topic_delete, {'slug': slug, 'id': topic.id }) }}"
                    method="post"
                    class="delete_form pull-right"
                    >
                    {{ form_widget(topic.deleteForm) }}
                    <button type="submit"><i class="icon-trash"></i></button> 
                </form>
            {% endif %}
            {% if with_picture|default(false) and topic.user %}
                <img 
                    rel="tooltip"
                    title="Immagine fornita da Gravatar.com"
                    src="http://www.gravatar.com/avatar/{{topic.user.gravatarMail}}?s=26&d=http://meedule.abmundi.com/gravatar.png" />
            {% endif %}
            {{ topic.name }}
            {% if topic.owner %}
                 [<em>{{ topic.owner }}</em>] 
            {% endif %}
            {% if topic.deleteForm %}
                <div class="clearfix"></div>
            {% endif %}
        </li>
    {% endfor %}
    </ol>
{% endif %}