{% extends 'MeeduleDesignBundle::layout.html.twig' %}

{% block title %}{{ entity.title }} - Meedule{% endblock %}

{% block meta %}
    <meta property="og:title" content="Meedule - {{ entity.title }}" />
    <meta property="og:description" content="{{ entity.description }}" />
{% endblock %}

{% block content %}

    <div class="container">
        <div class="well" id="details">
            <div class="pull-right">
                {% block commands %}{% endblock %}
                <a href="javascript:window.print();">Stampa <i class="icon-print"></i></a><br />
                <div class="fb-send" data-href="{{ url('meeting_show', {'slug': entity.slugpublic}) }}" data-font="arial"></div><br />
            </div>
            {% include 'MeeduleMeetingBundle:Meeting:_detail.html.twig' %}
        </div>

        <div class="row">
            <div class="span8">
                <div class="well">
                    <h3>Agenda</h3>
                    {% block agenda_topics %}
                        {% include 'MeeduleMeetingBundle:Meeting:_topics.html.twig' with {'topics': topics_agenda, 'topics_id': 'topics_agenda'} %}
                    {% endblock %}
                    {% block form_create_topic_agenda %}{% endblock %}

                    <hr />
                    <h4>Argomenti proposti <span class="badge">{{ topics_crew|length }}</span></h4>
                    {% block crew_topics %}
                        {% include 'MeeduleMeetingBundle:Meeting:_topics.html.twig' with {'topics': topics_crew, 'url_topic_delete': url_delete_topic_crew, 'topics_id': 'topics_crew'} %}
                    {% endblock %}

                    {% if not entity.isClosed %}
                        <form action="{{ path(url_create_topic_crew, {'slug': slug }) }}" method="post" {{ form_enctype(form_create_topic_crew) }} class="form-horizontal">
                            {{ form_widget(form_create_topic_crew.name) }}
                            {{ form_widget(form_create_topic_crew.owner) }}
                            {{ form_rest(form_create_topic_crew) }}
                            <button type="submit" class="btn btn-primary btn-small">Aggiungi</button>
                        </form>
                    {% endif %}
                </div>
                {% if not entity.isClosed or references|length > 0 %}
                    <div class="well">
                        <h4>
                            <span
                                rel="tooltip"
                                title="Aggugi risorse. Google Drive, Youtube o Slideshare sono ottime piattaforme.">Riferimenti</span> <span class="badge">{{ references|length }}</span></h4>
                        {% block references %}
                            {% include 'MeeduleMeetingBundle:Meeting:_references.html.twig' with {'url_reference_delete': url_delete_reference} %}
                        {% endblock %}

                        {% if not entity.isClosed %}
                            <form action="{{ path(url_create_reference, {'slug': slug }) }}" method="post" {{ form_enctype(form_reference) }} class="form-horizontal">
                                {{ form_widget(form_reference.name) }}
                                {{ form_widget(form_reference.url) }}
                                {{ form_rest(form_reference) }}
                                <button type="submit" class="btn btn-primary btn-small">Aggiungi</button>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="span4" id="attendees">
                {% block attendees %}
                    {% include 'MeeduleMeetingBundle:Meeting:_attendees.html.twig' %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}