{% extends 'MeeduleDesignBundle::layout.html.twig' %}

{% block title %}Meedule - {{ entity.title }}{% endblock %}

{% block meta %}
    <meta property="og:title" content="Meedule - {{ entity.title }}" />
    <meta property="og:description" content="{{ entity.description }}" />
{% endblock %}

{% block content %}

    <div class="well">
        <div class="pull-right">
            {% block commands %}{% endblock %}
            <a href="javascript:window.print();">Stampa <i class="icon-print"></i></a>
            <div class="fb-send" data-href="{{ url('meeting_show', {'slug': entity.slugpublic}) }}" data-font="arial"></div>
        </div>
        {% include 'MeeduleMeetingBundle:Meeting:_detail.html.twig' %}
    </div>
    
    <div class="row-fluid">
        <div class="span9">
            <div class="well">
                <h4>Argomenti:</h4>
                {% block agenda_topics %}
                    {% include 'MeeduleMeetingBundle:Meeting:_topics.html.twig' with {'topics': topics_agenda, 'topics_id': 'topics_agenda'} %}
                {% endblock %}
                {% block form_create_topic_agenda %}{% endblock %}
                
                <hr />
                <h4>Argomenti proposti:</h4>
                {% block crew_topics %}
                    {% include 'MeeduleMeetingBundle:Meeting:_topics.html.twig' with {'topics': topics_crew, 'url_topic_delete': url_delete_topic_crew, 'topics_id': 'topics_crew'} %}
                {% endblock %}
                
                <form action="{{ path(url_create_topic_crew, {'slug': slug }) }}" method="post" {{ form_enctype(form_create_topic_crew) }} class="form-horizontal">
                    {{ form_widget(form_create_topic_crew) }}
                    <button type="submit" class="btn btn-primary btn-small">Aggiungi</button>
                </form>
            </div>
        </div>
        <div class="span3" id="attendees">
            {% block attendees %}
                {% include 'MeeduleMeetingBundle:Meeting:_attendees.html.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}