{% extends '::base.html.twig' %}
{% from 'MeeduleDesignBundle::flash.html.twig' import flash %}

{% block stylesheets %}
    {% stylesheets
        'bundles/meeduledesign/bootstrap/bootstrap.less'
        'bundles/meeduledesign/css/zocial.less'
        'bundles/meeduledesign/css/application.less'
        'bundles/meeduledesign/css/ui-lightness/jquery-ui-1.8.17.custom.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets
            'bundles/meeduledesign/css/print.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" media="print" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        'bundles/meeduledesign/bootstrap/js/bootstrap-alert.js'
        'bundles/meeduledesign/bootstrap/js/bootstrap-button.js'
        'bundles/meeduledesign/bootstrap/js/bootstrap-dropdown.js'
        'bundles/meeduledesign/bootstrap/js/bootstrap-tooltip.js'
        'bundles/meeduledesign/bootstrap/js/bootstrap-popover.js'
        'bundles/meeduledesign/js/jquery-ui-1.8.17.custom.min.js'
    %}
<script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script>
    $(document).ready(function(){
        $("*[rel=popover]").popover();
        $("*[rel=tooltip]").tooltip();
    });
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1&appId=364269810337276";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    
{% if app.environment == "prod" %}
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28629605-2']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
{% endif %}
{% endblock %}

{% block body %}
    {% block topbar %}
    <div id="wrap">
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a id="brand" href="{{ path('index') }}" class="pull-left">
                        <img src={{ asset('bundles/meeduledesign/img/meedule.logo.png') }} />
                    </a>
                    <div class="nav-collapse collapse">
                        <div class="pull-right">
                            <div class="navbar-text">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    Collegato come <a href="{{ path('fos_user_profile_edit') }}">{{ app.user.username }}</a> | 
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}">Accedi</a>
                                {% endif %}
                            </div>
                        </div>
                            
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <ul class="nav">
                                <li class="active">
                                    <a href="{{ path('my_meedules') }}">
                                        My Meedules
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('my_partecipations') }}">
                                        My Partecipations
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('meeting_new') }}"><i class="icon-plus"></i> Crea</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        <div class="container-fluid">
            <div class="content">
                {% block flash %}
                    {{ flash() }}
                {% endblock %}

                {% block content %}{% endblock%}
            </div>
        </div>
        <div id="push"></div>
    </div>
    
    <div class="container-fluid" id="footer">
        &copy; 2013 Meedule - 
        <a 
            class='zocial twitter' 
            rel="tooltip" 
            title="Se ti interessa" 
            data-placement="top"
            href="https://www.twitter.com/Meedule">Followa</a>
        <a 
            class='zocial facebook' 
            rel="tooltip" 
            title="Se ti piace"
            data-placement="top"
            href="https://www.facebook.com/Meedule">Segui</a>
        -
        <a 
            class="zocial twitter" 
            target="_blank" 
            rel="tooltip" 
            title="Created By"
            data-placement="top"
            href="https://twitter.com/fabbrucci">Fabbrucci</a> 
        <a 
            class="zocial github" 
            target="_blank" 
            rel="tooltip" 
            title="Fork it on github"
            data-placement="top"
            href="https://github.com/fabiofabbrucci/Meedule">Contribute</a>
        <br />
        <i class="icon-heart"></i> 
        <a href='http://symfony.com' target="_blank">Symfony</a>, 
        <a href='http://twitter.github.com/bootstrap' target="_blank">Bootstrap</a>, 
        <a href='http://zocial.smcllns.com' target="_blank">Zocials</a>, 
        <a href='https://it.gravatar.com/' target="_blank">Gravatar</a>,
        <a href='http://abmundi.com' target="_blank">Abmundi</a> and 
        <a href='http://doodle.com' target="_blank">Doodle</a> for their usefull inspirations
    </div>
                
{% endblock %}
