{% extends 'MeeduleDesignBundle::layout.html.twig' %}

{% block content %}
<h1>{{ entities|length }} Meetings</h1>

<table
    class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Titolo</th>
            <th>Name</th>
            <th>Mail</th>
            <th>Agenda</th>
            <th>Crew</th>
            <th>Attendee</th>
        </tr>
    </thead>
    {% for meeting in entities %}
    <tr>
        <td>
            <a href="{{ path('meeting_show',{'slug': meeting.slugpublic}) }}" target="_blank">
                {{ meeting.title }}
            </a>
        </td>
        <td>{{ meeting.name }}</td>
        <td>{{ meeting.mail }}</td>
        <td>{{ meeting.agendaTopics|length }}</td>
        <td>{{ meeting.crewTopics|length }}</td>
        <td>{{ meeting.attendees|length }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}